* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0 auto;
}


header {
	display: flex;
	flex-direction: column;
	background-color: black;
	color: white;
	position: fixed;
	width: 100%;
	z-index: 9999;
}
#nav, #intro, #social {
	display: flex;
	font-family: "Raleway";
	font-size: 12px;
	padding: 0 1em;
}
#nav {
	justify-content: space-between;
	width: 100%; 
	height: 3em;


}

header a {
	color: white;
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 0 1em;
	font-size: 15px;
}
#social {
	font-size: 16px;
}


#menu {
	display: inline-flex;
	background-color: #ffffff;
	opacity: 1;
	z-index: 5;

}

ul, li {
	color: black;
	list-style-type: none;
	display: inline-flex;
	padding: 1.3em;
	font-size: 13px;
	font-weight: bold;
	font-family: "Raleway";
	cursor: pointer;

}
#essai {
	width: 16em;
	background-color: #fc74f7 ;
	color: white;
	border-radius: 20px;
}
#essai:hover {
	background-color: #5b5f66;
}

#logoimg {
	z-index: 10;
}

.tekst {
	position: absolute;
	top: 250px;
	color: white;
	font-family: "Muli" ;
	font-size: 30px;
	line-height: 2;
	padding-left: 1em;
}
.tekst h1 {
	font-size: 50px;
}
.tekst a {
	margin-top: 1.5em;
}
.btn:link {
	display: inline-block;
	padding: 10px;
	border-radius: 20px;
	text-decoration: none;
	border: 1px solid #fff;
	color: #fff;
	font-size: 24px;
}
.btn:link:hover {
	color: #fc74f7;
	border: 1px solid #fc74f7;
}
.tekst * {
	z-index: 0;
}
.decouvrir {
	padding: 5em 15em;
	color: #878a8e;
	text-align: center;
	line-height: 2;
	font-family: "Muli";
}

h2 {
	font-size: 30px;
}

.text {
	font-size: 22px;
}
.btn_decouvrir {
	margin-top: 20px;
	width: 7em;
	height: 2.6em;
	background-color: #d7a0ef;
	color: white;
	font-size: 25px;
	text-decoration: none;
	padding: 10px;
	border-radius: 20px;
	font-size: 23px;
	font-family: "Raleway";
}
.btn_decouvrir:hover {
	cursor: pointer;
	background-color: #a832db;
}


.new_text {
    position: absolute;
	top: 1450px;
	font-family: 'Inconsolata' ;
	font-size: 30px;
	line-height: 2;
	padding-left: 1em;
	color: white;
}
.acces_illimite {
	padding: 5em 15em;
	background-color: #F9F9F9;
	text-align: center;
}
h2, #offre {
 	font-size: 28px;
 	color: #878a8e;
	text-align: center;
	line-height: 2;
	font-family: "Muli";
	text-align: center;
}


#nos_profs, #video {
	height: 1.6em;
	background-color: #8897bf;
	color: white;
	font-family: "Muli";
	font-size: 20px;
	font-weight: bold;

}
#nos_profs p, #video p {
	padding-left: 3em;
}
.professeurs {
	background-color: #f9f9f9;
}
#profs {
 	display: flex;
 	flex-direction: row;
 	justify-content: space-around;
}
.prof {
	cursor: pointer;
	border-radius: 100px;
}

figure:hover {
	opacity: 0.7;
}
.prof_name {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: "Raleway";
	font-size: 20px;
	margin-top: 1em;
}
.textprof {
	font-size: 24px;
 	color: #878a8e;
	text-align: center;
	line-height: 2;
	font-family: "Muli";
	padding: 1.6em;
}
.videos {
	margin: 4em;
	display: flex;
	flex-wrap: wrap;



	
	
}
.vid {
	
	margin: 1em;
}
#footing {
	display: flex;
	position: relative;
	
	
	background-color: #111111;
	border-top: 1px solid #fff;
	font-size: 0;
	line-height: 1;
	padding: 20px 100px;

}

#footing nav {
	display: block;
	float: left;

}

#footing nav > p {
	margin: 0.3em 2em;
	color: #fff;
	font-size: 16px;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.flex {
	float: left;
	width: 100%;
	margin: 5px 0 0 0;
	display: flex;
	flex-direction: column
}

#footing nav ul li {
	list-style: none;
	position: relative;
	float: left;
	
}


#footing nav ul li a {
    list-style: none;
	color: #666666;
	box-sizing: border-box;
}
#footing nav ul li a:hover {
	color: #fff;
}
.know_more
{
margin-left: 10%;

}
.social ul li{
	font-size: 22px;
	color: #fff;
	margin-top: 0;
	margin-left: 70px;
	margin-top: 170px;

}
.social ul li:first-child:hover {
	color: #0d2b5b;

}
.social ul li:nth-child(2):hover {
	color: #5c8cdb;

}
.social ul li:last-child:hover {
	color: #59413b;

}
.social {
	display: inline-flex;
}

a {
	text-decoration: none;
}
